.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}