*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root{
  --mainColor: #A696E3;
  --mainBorder: #6D59BE;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: #000;
}
.cont{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  width: 100%;
  height: 60px;
  text-transform: capitalize;
}
.header .cont{
  
  width: 95%;
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}
.header .links ul{
  list-style: none;
  display: flex;
  justify-self: center;
}
.header .links ul li{
  margin-left: 20px;
}
.header .links ul li:last-child{
  background-color: var(--mainColor);
  border: var(--mainColor) 1px solid;
}
.header .links ul li{
  border-radius: 4px;
  padding: 3px 15px ;
}
.section {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.section .box{
  width: 40%;
  background-color: var(--mainColor);
  height: 80vh;
  border-bottom-left-radius: 50px;
  line-height: 2;
  padding: 50px 10px;
  box-shadow: -5px 5px 5px #ddd;
}
.section .info{
  display: flex;
  position: relative;
}
.section .info .cont{
  line-height: 2;
  max-width: 400px;
}
.section .info .cont button{
position: absolute;
right: 30px;
top: 30vh ;
background-color: var(--mainColor);
border: var(--mainBorder) 1px solid;
width: 100px;
height: 30px;
border-radius: 6px;
text-transform: capitalize;
font-size: 15px;
font-weight: bold;
color: #fff;
}
.designer{
  margin-top: 15px;
}
.designer .cont {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.designer .project{
  display: flex;
  flex-direction: column;
  border: solid #eee 1px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.designer h1{
text-align: center;
opacity: 0.6;
margin-bottom: auto;
}
.designer .project .view {
  all: unset;
  border: 1px solid #eee;
  width: 100%;
  height: 30px;
  background-color: #eeeeee61;
  text-align: center;
}